a {
    color: #000;
}
a:hover {
    color: #1987d8;
}

.main {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar {
    width: 100%;
    height: calc(100vh - 56px - 64px);
    padding: 10px;
    background: #f8f8ffd4;
}
.sidebar li ul {
    background: #f3f3fb;
    list-style: none;
}
.sidebar li {
    padding: 5px 0;
}

.sidebar li a {
    text-decoration: none;
}

.content, .content > .info {
    padding: 10px;
}

.breadcrumb {
    background-color: #f8f9fa;
}

.detail__header-box {
    align-items: baseline;
}
.detail-links {
    display: flex;
    flex-direction: row;
}
.detail-links li {
    list-style: none;
    margin: 0 10px 0 0;
}
.detail-links li a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
}

footer {
    padding: 20px;
    background-color: #f8f9fa;
}



