.sidebar-right {

    .shop-list {
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 5px;

            label {
                margin: 0 0 0 5px;
            }
        }

    }

    .filter-price {

        li {
            display: flex;
            align-items: baseline;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
        }

        input {
            width: 70px;
        }
    }

    .submit-btn {
        width: 200px;
        height: 40px;
        font-size: 18px;
    }
}
